$webResourceManager.requireResource("com.samsungds.confluence.errorpage.custom-error-page:custom-deleted-page-resources")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Deleted page</title>
    <meta name="decorator" content="atl.general"/>
</head>
<body>
<div>$i18n.getText('plugin.name')</div>
<div>$message</div>
</body>
</html>
